extends layout

block content
    form(method='POST', action='/fileUpload' enctype='multipart/form-data')
        
        input(type='file', name='theFile')
        input(type='submit' name='Upload')